In [1]:
import pandas as pd

In [2]:
# Define the file path
file_path = 'DATA/barubarulabel.txt'

# Read the file into a DataFrame
df = pd.read_csv(file_path, delimiter=',')
df

,ZTFID,IAUID,RA,Dec,peakt,peakfilt,peakmag,peakabs,duration,rise,fade,type,redshift,b,A_V
0,ZTF17aaaeqms,AT2023jkf,01:19:13.43,+31:46:26.1,2102.97,r,17.5839,-,18.001,12.004,5.997,-,-,-30.726791,0.205
1,ZTF17aaahrni,AT2016dxt,05:21:41.58,-04:11:10.4,1155.90,g,17.1049,-,7.667,0.86,6.807,CV,-,-21.841960,0.827
2,ZTF17aaaikab,AT2019bgj,07:44:31.43,+48:26:30.4,1122.01,g,15.7679,-,>299.783,>294.2,5.583,CV,-,28.472792,0.155
3,ZTF17aaajnki,AT2022fmn,12:25:48.85,+33:32:48.6,462.05,r,17.8040,-,177.744,161.426,16.318,AGN,-,81.532942,0.047
4,ZTF17aaajowi,-,11:47:44.37,+14:34:10.4,1362.73,r,18.9963,-,>5.611,2.651,>2.96,-,-,70.564727,0.127
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16062,ZTF24aaucrua,SN2024nez,20:36:35.52,+11:29:02.9,2499.82,r,18.8270,-,>7.96,>7.92,>0.04,-,-,-17.186947,0.311
16063,ZTF24aaugavy,AT2024nxs,22:02:50.63,+22:37:07.6,2499.92,g,18.9945,-,>0.06,>0.06,>0,-,-,-25.703864,0.216
16064,ZTF24aaughlb,AT2024pay,21:40:16.92,-08:04:10.7,2499.86,g,18.7279,-,>0.04,>0,>0.04,-,-,-40.998382,0.103
16065,ZTF24aauhnqm,AT2024nut,15:45:52.95,+15:07:43.5,2498.69,g,18.5911,-,>2.04,>0,>2.04,-,-,47.821680,0.097
16066,ZTF24aaumzhf,AT2024nuu,17:02:28.50,+14:34:28.5,2499.78,r,18.2867,-,>0.07,>0.07,>0,-,-,30.597909,0.326

In [3]:
# Load the dataset
data = pd.read_csv('DATA/2. DATA_Pval/DATAwithPVAL_0_0.csv')
data

,objectId,curve_g,nobs_g,curve_r,nobs_r,p_value_g,p_value_r
0,ZTF17aaaaaui,"[(2459795.8196065, 0.0007734387148748412, 3.89...",22,"[(2459801.8446065, 0.006053776330351666, 0.000...",4,3.819143e-71,0.000000
1,ZTF17aaaaaxa,[],0,"[(2459908.6598264, 9.786473501125291e-05, 1.20...",2,NaN,0.073969
2,ZTF17aaaabel,"[(2460200.9892245, 5.2687317664062934e-05, 5.3...",4,"[(2460196.9008102, 0.00012385281661099056, 1.6...",3,4.164830e-01,0.496625
3,ZTF17aaaafbf,"[(2459809.8596644, 5.003871940423215e-05, 7.50...",1,"[(2459809.7853125, 8.881915275160769e-05, 1.19...",2,NaN,0.951485
4,ZTF17aaaapyu,"[(2460191.9334491, 5.386995241625691e-05, 1.10...",32,"[(2460116.9664005, 0.00026702146658731896, 3.3...",53,1.071915e-08,0.000000
...,...,...,...,...,...,...,...
10450,ZTF24aadshgt,[],0,"[(2460326.9193403, 2.4476332354925547e-05, 7.6...",2,NaN,0.000014
10451,ZTF24aaeafen,"[(2460326.7543403, 2.4532768195581076e-05, 6.5...",3,"[(2460326.7508333, 2.090578223481408e-05, 5.19...",3,3.297422e-03,0.032927
10452,ZTF24aaealju,"[(2460340.7059259, 2.5814662940122595e-05, 6.4...",2,"[(2460339.7407407, 3.531720297987824e-05, 7.46...",1,6.373457e-01,NaN
10453,ZTF24aaealsq,"[(2460326.7744329, 2.2910061178075758e-05, 6.5...",1,"[(2460339.7412037, 3.2766219357135975e-05, 5.9...",1,NaN,NaN
10454,ZTF24aaednmo,"[(2460327.9858565, 2.7286407073956726e-05, 6.4...",1,"[(2460322.9190509, 3.0514476536182784e-05, 7.4...",2,NaN,0.947090

In [4]:
dataset = pd.merge(data, df[['ZTFID', 'type']], left_on='objectId', right_on='ZTFID', how='left')
dataset

,objectId,curve_g,nobs_g,curve_r,nobs_r,p_value_g,p_value_r,ZTFID,type
0,ZTF17aaaaaui,"[(2459795.8196065, 0.0007734387148748412, 3.89...",22,"[(2459801.8446065, 0.006053776330351666, 0.000...",4,3.819143e-71,0.000000,NaN,NaN
1,ZTF17aaaaaxa,[],0,"[(2459908.6598264, 9.786473501125291e-05, 1.20...",2,NaN,0.073969,NaN,NaN
2,ZTF17aaaabel,"[(2460200.9892245, 5.2687317664062934e-05, 5.3...",4,"[(2460196.9008102, 0.00012385281661099056, 1.6...",3,4.164830e-01,0.496625,NaN,NaN
3,ZTF17aaaafbf,"[(2459809.8596644, 5.003871940423215e-05, 7.50...",1,"[(2459809.7853125, 8.881915275160769e-05, 1.19...",2,NaN,0.951485,NaN,NaN
4,ZTF17aaaapyu,"[(2460191.9334491, 5.386995241625691e-05, 1.10...",32,"[(2460116.9664005, 0.00026702146658731896, 3.3...",53,1.071915e-08,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...
10450,ZTF24aadshgt,[],0,"[(2460326.9193403, 2.4476332354925547e-05, 7.6...",2,NaN,0.000014,NaN,NaN
10451,ZTF24aaeafen,"[(2460326.7543403, 2.4532768195581076e-05, 6.5...",3,"[(2460326.7508333, 2.090578223481408e-05, 5.19...",3,3.297422e-03,0.032927,NaN,NaN
10452,ZTF24aaealju,"[(2460340.7059259, 2.5814662940122595e-05, 6.4...",2,"[(2460339.7407407, 3.531720297987824e-05, 7.46...",1,6.373457e-01,NaN,NaN,NaN
10453,ZTF24aaealsq,"[(2460326.7744329, 2.2910061178075758e-05, 6.5...",1,"[(2460339.7412037, 3.2766219357135975e-05, 5.9...",1,NaN,NaN,NaN,NaN
10454,ZTF24aaednmo,"[(2460327.9858565, 2.7286407073956726e-05, 6.4...",1,"[(2460322.9190509, 3.0514476536182784e-05, 7.4...",2,NaN,0.947090,NaN,NaN

In [5]:
# Replace '-' with 'unclassified' in the 'type' column
dataset['type'] = dataset['type'].replace('-', 'Candidate')
dataset['type'] = dataset['type'].fillna('Candidate')

In [7]:
# Drop the redundant 'ZTFID' column if it's not needed
dataset.drop(columns=['ZTFID'], inplace=True)

# Add 'is_ia' column
dataset['is_ia'] = dataset['type'].apply(lambda x: 1 if x == 'SN Ia' else 0)

In [8]:

# Reorder columns
columns = list(dataset.columns)
columns.remove('type')  # Remove 'type' from the list of columns
columns.remove('is_ia')  # Remove 'is_ia' from the list of columns
columns.insert(1, 'type')  # Insert 'type' at position 2
columns.insert(2, 'is_ia')  # Insert 'is_ia' at position 3

# Reorder the DataFrame columns based on the new column order
dataset = dataset[columns].reset_index(drop=True)

# Save the DataFrames to CSV files (optional)
# dataset.to_csv('DATA/dataset_0_0.csv', index=False)
# data_unclassified.to_csv('DATA/dataset_unclassified_0_0.csv', index=False)

In [7]:

# Reorder columns
columns = list(dataset.columns)
columns.remove('type')  # Remove 'type' from the list of columns
columns.remove('is_ia')  # Remove 'is_ia' from the list of columns
columns.insert(1, 'type')  # Insert 'type' at position 2
columns.insert(2, 'is_ia')  # Insert 'is_ia' at position 3

# Reorder the DataFrame columns based on the new column order
dataset = dataset[columns].reset_index(drop=True)

# Save the DataFrames to CSV files (optional)
# dataset.to_csv('DATA/dataset_0_0.csv', index=False)
# data_unclassified.to_csv('DATA/dataset_unclassified_0_0.csv', index=False)

In [10]:
# Create two separate datasets
data_candidate = dataset[dataset['type'] == 'Candidate'].reset_index(drop=True)
dataset = dataset[dataset['type'] != 'Candidate'].reset_index(drop=True)

In [11]:
dataset

,objectId,type,is_ia,curve_g,nobs_g,curve_r,nobs_r,p_value_g,p_value_r
0,ZTF17aaaocpq,AGN,0,"[(2460288.8362616, 0.0012396709687641713, 4.01...",11,"[(2460288.9221528, 0.0017580292490201503, 7.30...",8,2.749327e-09,6.183738e-64
1,ZTF17aaapufz,LBV,0,"[(2460103.7360532, 3.2585630369240395e-05, 7.7...",3,"[(2460101.8308333, 9.50486976971646e-05, 1.237...",1,3.884547e-89,NaN
2,ZTF17aacpbmv,SN Ic,0,"[(2460253.8133449, 0.00012326112143300953, 1.1...",4,"[(2460253.8366088, 0.00011731304762148571, 8.5...",4,1.702984e-23,1.910073e-23
3,ZTF17aadcbei,CV,0,"[(2459932.8203472, 0.00013909337042157925, 8.7...",3,"[(2459932.7988889, 0.00014783815478306981, 9.6...",3,7.379994e-04,9.189183e-11
4,ZTF18aaadtdc,AGN,0,"[(2460305.6727894, 0.00022903743292233798, 1.5...",23,"[(2460314.6431597, 0.0002958191671019875, 2.00...",6,8.910281e-83,8.997891e-13
...,...,...,...,...,...,...,...,...,...
1489,ZTF24aacxzca,SN II,0,"[(2460341.7677894, 0.00016516038538454968, 1.3...",1,"[(2460326.9202894, 3.1732661866485013e-05, 6.2...",3,NaN,9.850549e-31
1490,ZTF24aacyttg,SN Ia,1,"[(2460326.9902894, 4.19475212400129e-05, 6.938...",1,"[(2460338.8495718, 0.00016113377741770865, 3.1...",1,NaN,NaN
1491,ZTF24aaczgax,SN II,0,"[(2460327.0398727, 0.00013163942908967044, 1.5...",2,[],0,1.386096e-28,NaN
1492,ZTF24aadkwni,SN II,0,"[(2460335.9242014, 0.00032826599372755034, 1.9...",1,"[(2460339.8109259, 0.0003589433764427742, 2.21...",1,NaN,NaN
1493,ZTF24aadkwol,SN Ia,1,"[(2460335.9242014, 0.0009687826506244948, 3.13...",1,"[(2460339.8109259, 0.0016555646913907253, 4.22...",1,NaN,NaN

In [12]:
data_candidate

,objectId,type,is_ia,curve_g,nobs_g,curve_r,nobs_r,p_value_g,p_value_r
0,ZTF17aaaaaui,Candidate,0,"[(2459795.8196065, 0.0007734387148748412, 3.89...",22,"[(2459801.8446065, 0.006053776330351666, 0.000...",4,3.819143e-71,0.000000
1,ZTF17aaaaaxa,Candidate,0,[],0,"[(2459908.6598264, 9.786473501125291e-05, 1.20...",2,NaN,0.073969
2,ZTF17aaaabel,Candidate,0,"[(2460200.9892245, 5.2687317664062934e-05, 5.3...",4,"[(2460196.9008102, 0.00012385281661099056, 1.6...",3,4.164830e-01,0.496625
3,ZTF17aaaafbf,Candidate,0,"[(2459809.8596644, 5.003871940423215e-05, 7.50...",1,"[(2459809.7853125, 8.881915275160769e-05, 1.19...",2,NaN,0.951485
4,ZTF17aaaapyu,Candidate,0,"[(2460191.9334491, 5.386995241625691e-05, 1.10...",32,"[(2460116.9664005, 0.00026702146658731896, 3.3...",53,1.071915e-08,0.000000
...,...,...,...,...,...,...,...,...,...
8956,ZTF24aadshgt,Candidate,0,[],0,"[(2460326.9193403, 2.4476332354925547e-05, 7.6...",2,NaN,0.000014
8957,ZTF24aaeafen,Candidate,0,"[(2460326.7543403, 2.4532768195581076e-05, 6.5...",3,"[(2460326.7508333, 2.090578223481408e-05, 5.19...",3,3.297422e-03,0.032927
8958,ZTF24aaealju,Candidate,0,"[(2460340.7059259, 2.5814662940122595e-05, 6.4...",2,"[(2460339.7407407, 3.531720297987824e-05, 7.46...",1,6.373457e-01,NaN
8959,ZTF24aaealsq,Candidate,0,"[(2460326.7744329, 2.2910061178075758e-05, 6.5...",1,"[(2460339.7412037, 3.2766219357135975e-05, 5.9...",1,NaN,NaN
8960,ZTF24aaednmo,Candidate,0,"[(2460327.9858565, 2.7286407073956726e-05, 6.4...",1,"[(2460322.9190509, 3.0514476536182784e-05, 7.4...",2,NaN,0.947090

In [13]:
# Save the DataFrames to CSV files (optional)
dataset.to_csv('DATA/3. Dataset/DATASET_UTAMA_Fix.csv', index=False)
data_candidate.to_csv('DATA/3. Dataset/DATASET_CANDIATE_Fix.csv', index=False)